.header-toolbar {
  padding-inline: 16px;
}
.brand-icon {
  margin-right: 8px;
}

.title-group {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.subtitle {
  font-size: 18px;
  font-style: italic;
  opacity: 0.8;
}

.spacer {
  flex: 1 1 auto;
}

.nav-button {
  text-transform: none;
  font-weight: 500;
}

.nav-button mat-icon {
  margin-right: 4px;
}

.header-toolbar {
  height: var(--toolbar-height);
  display: flex;
  align-items: center;
  padding-inline: 16px;
  background-color: rgb(190, 255, 164) !important;
}
